body {
color:white;
background-color:#293133;
}
h1 {
	font-size: 300%;
	font-family: 'raleway', sans-serif;
	color:white;
	text-align:center;
}
h2 {
	font-size: 150% ;
	font-family: 'raleway', sans-serif;
	margin-left: 300;}

h3 {
	font-size: 100% ;
	font-family: 'raleway', sans-serif;
	margin-left: 500;
}
a {
	display:button;
	font-family: 'raleway', sans-serif;
	margin-left: auto;
	margin-right:auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
hr {margin-right: 300
	margin-left: 300
	;}

#boutton1 {border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);}